<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GHCApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GHC"
        tools:targetApi="31">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GHC">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauth-callback"
                    android:scheme="ghclient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RepositoryContentActivity"
            android:label="@string/title_repository_content"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.GHC" />
        <activity
            android:name=".ui.FileContentActivity"
            android:label="@string/title_file_content"
            android:theme="@style/Theme.GHC" />

        <activity
            android:name=".ui.OAuthActivity"
            android:label="@string/oauth"
            android:theme="@style/Theme.GHC" />


        <activity
            android:name=".ui.IssueActivity"
            android:label="@string/commit_issue"
            android:theme="@style/Theme.GHC" />

    </application>

</manifest>